h3
{
    font-size: 1.7rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}


/* Start Contact */

#contact .contact .contact-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    margin-top: 200px;
    margin-bottom: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#contact .contact-wrapper .contact-columns-wrapper
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .contact-wrapper .contact-columns-wrapper .left-column
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    width: 100%;
    color: #fff;
    background-color: #DE6B66;
    height: 300px;
    z-index: 1;
}

#contact .contact-wrapper .contact-columns-wrapper .left-column ul
{
    list-style: circle;
    margin-left: 20px;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

#contact .contact-wrapper .contact-columns-wrapper .left-column ul *
{
    margin-bottom: 20px;
}
#contact .contact-wrapper .contact-columns-wrapper .left-column ul:last-child
{
    margin-bottom: 0;
}

#contact .contact-wrapper .contact-columns-wrapper .right-column
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#contact .contact-wrapper .contact-columns-wrapper .right-column h3
{
    margin-top: 10px;
}

#contact .right-column form
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

#contact .right-column form *
{
    margin-bottom: 20px;
}

#contact .right-column form:last-child
{
    margin-bottom: 0;
}

#contact .right-column form input[type=text],
#contact .right-column form input[type=email]
{
    width: 100%;
    height: 80px;
    border: none;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    font-size: 1rem;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 2px;
}


#contact .right-column form textarea
{
    width: 100%;
    height: 160px;
    border: none;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    border-radius: 15px;
    font-size: 1rem;
    padding: 10px;
    font-weight: bold;
    resize: none;
    letter-spacing: 2px;
}

#contact .right-column form input[type=text]:focus,
#contact .right-column form input[type=email]:focus,
#contact .right-column form textarea:focus
{
    background-color: #FAE1DB;
    outline-color: #DE6B66;
}

#contact .right-column .submit
{
    display: block;
    box-shadow: none;
    width: 40%;
    background-color: #DE6B66;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 15px;
    margin-left: -1px;
}

/* End Contact */

/* Start Received */

#received .received
{
    min-height: 100vh;
}

#received .received .wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
    background-color: #FADED9;
    border: 6px solid #F89286;
    border-radius: 20px;
    padding: 50px 0 50px 0;
}

#received .received .wrapper h1
{
    font-size: 2.3rem;
}

#received .received .wrapper p
{
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* End Received */

/* Start Media Query for Tablet */

@media only screen and (min-width: 768px)
{

    #contact .contact
    {
        height: 100vh;
    }

    #received .received .wrapper .cta
    {
        width: 50%;
    }

}

/* End Media Query for Tablet */

/* Start Media Query for Desktop*/

@media only screen and (min-width: 1200px)
{

    #contact .contact .contact-wrapper
    {
        width: 1000px;
        margin-left: 170px;
    }

    #contact .contact-wrapper .contact-columns-wrapper
    {
        flex-direction: row;
        padding: 30px 0 30px 0;
    }

    #contact .contact-wrapper .contact-columns-wrapper .left-column
    {
        width: 50%;
        height: 400px;
        margin-left: -170px;
        margin-right: 100px;
        align-items: center;
    }

    #contact .contact-wrapper .contact-columns-wrapper .left-column h3
    {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    #contact .right-column form input[type=text],
    #contact .right-column form input[type=email]
    {
        height: 50px;
        width: 80%;
    }

    #contact .right-column form textarea
    {
        height: 140px;
        width: 80%;
    }

    #contact .right-column .submit
    {
        width: 25%;
    }

    #received .received .wrapper
    {
        width: 70%;
    }

    #received .received .wrapper .cta
    {
        width: 30%;
    }
    
}

/* End Media Query for Desktop */