*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2
{
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}

p
{
    font-weight: 500;
    font-size: 1.2rem;
    padding: 15px 0;
    line-height: 1.5;
}

a 
{
    text-decoration: none;
}

ul
{
    list-style-type: none;
}

.container 
{
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    min-height: auto;
}

.icon 
{
    width: 100%;
    height: 100%;
}

.cta 
{
    display: block;
    background-color: #DE6B6680;
    border: 3px solid #DE6B66;
    width: 75%;
    padding: 15px 40px;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    border-radius: 0 20px 0 20px;
    position: relative;
    z-index: 2;
    transition: 0.3s ease-in-out;
}
.cta:hover
{
    border-radius: 20px 0 20px 0;
    background-color: #DE6B66;
}

.divider
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 50px auto;
    pointer-events: none;
}

.header
{
    color: #fff;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    font-weight: bold;
}

button
{
    display: block;
    padding: 10px 15px;
    margin: 10px 10px;
    text-decoration: none;
    color: black;
    border: none;
    background-color: transparent;
    box-shadow: 0 3px 2px 1px #D8D8D8;
    transition: 0.2s ease-in-out;
}
#btn1
{
    padding: 10px 18px;
}
.active
{
    background-color: #D8D8D8;
    box-shadow: none;
}
button:hover
{
    background-color: rgb(187, 187, 187);
    transform: scale(0.9);
    box-shadow: none;
}

/* Start Header */

#header
{
    position: fixed;
    z-index: 10;
    width: 100vw;
    left: 0;
    top: 0;
    height: auto;
}

#header .header .nav-bar-lp
{
    display: none;
}

#header .header
{
    min-height: 10vh;
    width: 100%;
    background-color: #FAE1DB;
}

#header .nav-bar-mb
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    border-bottom: 2px solid #DE6B66;
}

#header .nav-bar-mb .header-logo
{
    width: 100px;
    height: 100px;
}

#header .nav-bar-mb .nav-list.active::before
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.721);
    left: 0;
    top: 0;
    content: '';
}

#header .nav-bar-mb .nav-list .burger
{
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #fff;
    border: 3px solid #DE6B66;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 50;
}

#header .nav-bar-mb .nav-list .burger .bar
{
    width: 30px;
    height: 3px;
    background-color: #DE6B66;
    position: relative;
}
#header .nav-bar-mb .nav-list .burger .bar::before,
#header .nav-bar-mb .nav-list .burger .bar::after
{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #DE6B66;
    left: 0;
    transition: 0.3s ease;
}
#header .nav-bar-mb .nav-list .burger .bar::before
{
    bottom: 8px;
}
#header .nav-bar-mb .nav-list .burger .bar::after
{
    top: 8px;
}
#header .nav-bar-mb .nav-list .burger.active .bar::before {
    bottom: 0;
}
#header .nav-bar-mb .nav-list .burger.active .bar::after {
    top: 0;
}

#header .nav-bar-mb .nav-list ul
{
    position: absolute;
    width: 80vw;
    height: 100vh;
    top: 0;
    left: 100%;
    background-color: #FAE1DB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow-x: hidden;
    z-index: 1;
    transition: .3s ease;
    transition-property: left;
}

#header .nav-bar-mb .nav-list ul.active
{
    left: 20%;
}

#header .nav-bar-mb .nav-list ul a
{
    display: block;
    text-align: left;
    padding: 20px 10px;
    width: 80vw;
    color: #DE6B66;
    border-bottom: 2px solid #DE6B66;
    transition: 0.2s ease-in-out;
}
#header .nav-bar-mb .nav-list a:hover
{
    background-color: #fff;
}

/* End Header */

/* Start Hero */

#hero .hero 
{
    flex-direction: column;
    margin-top: 130px;
}

#hero .hero-image 
{
    height: 500px;
    pointer-events: none;
}

#hero .hero-columns 
{
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#hero .column 
{
    flex-basis: 100%;
    background-color: #FADED9;
    border: 6px solid #F89286;
    border-radius: 20px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    height: 420px;
}

#hero .column .icon-wrapper 
{
    width: 140px;
    height: 140px;
    pointer-events: none;
}

#hero .column .column-text
{
    padding: 20px 40px;
}

/* End Hero */

/* Start Info */

#info .info
{
    flex-direction: column;
    background-color: #F59187;
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

#info .chapter-wrapper
{
    background-color: #fff;
    margin: 40px 10px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

#info .chapter-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

#info .chapter-info .header a:hover
{
    text-decoration: underline;
}

#info .chapter-info .chapter-image-wrapper
{
    width: 350px;
    height: 350px;
    margin: 30px 0;
    pointer-events: none;
}

#info .chapter-info .chapter-buttons
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info .chapter-info .chapter-buttons .page-numbers
{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    position: relative;
}
#info .chapter-info .chapter-buttons .page-numbers .buttons::before
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 15px;
    width: 30%;
    height: 3px;
    background-color: #000;
}
#info .chapter-info .chapter-buttons .page-numbers .buttons::after
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 15px;
    width: 30%;
    height: 3px;
    background-color: #000;
}

#info .chapter-info .chapter-buttons .page-numbers .buttons
{
    display: flex;
}

#info .social-media
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

#info .social-media .social-links
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#info .social-media .social-links .icon-wrapper
{
    width: 100px;
    height: 100px;
    margin: 0 17px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.2s ease-in-out;
    transform: scale(0.9);
}
#info .social-media .social-links .icon-wrapper:hover
{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1);
}

#info .social-media .social-media-username
{
    width: 370px;
}

/* End Info */

/* Start Recommend */

#recommend .recommend
{
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

#recommend .border-up
{
    color: #F59187;
    width: 95.5%;
    height: 80px;
    border: 4px solid #F59187;
    border-bottom: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#recommend .header
{
    color: #F59187;
    margin: 0 10px;
}

#recommend .recommended-stories
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

#recommend .recommended-stories .card
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

#recommend .recommended-stories .card .content-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 10px 0;
    background-color: #FADED9;
    border: 4px solid #F89286;
}

#recommend .recommended-stories .card .content-wrapper .card-image-wrapper
{
    width: 340px;
    height: 340px;
}

#recommend .recommended-stories .card .content-wrapper .card-text
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 20px;
    padding: 10px 0;
    text-align: left;
}

#recommend .recommended-stories .card .content-wrapper .cta
{
    width: 90%;
    text-align: center;
}

#recommend .recommend .recommend-cta
{
    text-align: center;
    background-color: #DE6B6695;
}
#recommend .recommend .recommend-cta:hover {
    background-color: #DE6B66;
}

#recommend .border-down
{
    color: #F59187;
    width: 95%;
    height: 80px;
    border: 4px solid #F59187;
    border-top: none;
    margin: 0 10px;
}

/* End Recommend */

/* Start Footer */

#footer .footer
{
    flex-direction: column;
    background-color: #FDDEAF;
    padding: 40px 0;
    min-height: 85vh;
}

#footer .logo-wrapper
{
    width: 150px;
    height: 150px;
}

#footer .footer-text
{
    text-align: center;
    margin: 50px 0;
    padding: 40px 0;
    position: relative;
}
#footer .footer-text::before
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    width: 30%;
    height: 2px;
    background-color: #000;
}
#footer .footer-text::after
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    width: 30%;
    height: 2px;
    background-color: #000;
}

#footer .footer-links
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#footer .footer-links p
{
    font-weight: bold;
}

#footer .footer-links p span
{
    color: #D952CB;
    position: relative;
}
#footer .footer-links p span::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #D952CB;
    width: 100%;
    transition: 0.2s ease-in-out;
}

#footer .footer-links .footer-social-media
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#footer .footer-links .footer-social-media .icon-wrapper
{
    width: 80px;
    height: 80px;
    margin: 20px 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.2s ease-in-out;
    transform: scale(0.9);
}
#footer .footer-links .footer-social-media .icon-wrapper:hover
{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1);
}

/* End Footer */


/* Start Media Query for Tablet */

@media only screen and (min-width: 768px)
{

        h2
    {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
    }

    p
    {
        font-size: 1.3rem;
    }

    .cta 
    {
        font-size: 1.3rem;
    }

    .divider
    {
        width: 500px;
        margin: 50px auto;
    }

    .header
    {
        font-size: 2rem;
    }

    /* Start Hero Tablet */

    #hero .hero
    {
        min-height: auto;
    }

    #hero .hero-image 
    {
        height: auto;
        width: 100%;
    }

    #hero .hero-columns
    {
        padding: 30px 0 30px 0;
    }

    #hero .column
    {
        flex-basis: 45%;
        margin: 0 15px;;
        height: 480px;
    }

    /* End Hero Tablet */

    /* Start Info Tablet */

    #info .info
    {
        min-height: auto;
    }

    #info .chapter-wrapper
    {
        margin: 40px 0;
        padding: 20px 0;
    }

    #info .chapter-info .chapter-image-wrapper
    {
        width: 550px;
        height: 550px;
        margin: 30px 0;
    }

    #info .social-media .social-links .icon-wrapper
    {
        width: 150px;
        height: 150px;
    }

    #info .social-media .social-media-username
    {
        width: 515px;
    }

    /* End Info Tablet */

    /* Start Recommended Tablet */

    #recommend .recommend
    {
        margin-top: 30px;
    }

    #recommend .header
    {
        font-size: 2.5rem;
    }

    #recommend .recommended-stories
    {
        flex-wrap: wrap;
        flex-direction: row
    }

    #recommend .recommended-stories .card
    {
        flex-basis: 49%;
        width: 20%;
        margin: 10px 0;
    }

    #recommend .recommend .recommend-cta
    {
        width: 60%;
    }

    /* End Recommended Tablet */

    /* Start Footer Tablet */

    #footer .footer
    {
        min-height: 50vh;
    }

    #footer .footer-text
    {
        font-size: 1.7rem;
        width: 70%;
    }
        
    #footer .footer-text::before
    {
        width: 20%;
    }
    #footer .footer-text::after
    {
        width: 20%;
    }

    #footer .footer-links .footer-social-media .icon-wrapper
    {
        width: 100px;
        height: 100px;
    }

    /* End Footer Tablet */
}

/* End Media Query for Tablet */

/* Start Media Query for Desktop*/

@media only screen and (min-width: 1200px)
{

    .header
    {
        font-size: 2.5rem;
    }

    /* Start Header Desktop */

    #header .header .nav-bar-mb
    {
        display: none;
    }

    #header .header
    {
        border-bottom: 2px solid #DE6B66;
    }

    #header .header .nav-bar-lp
    {
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-around;
        padding: 10px 110px;
    }

    #header .header .nav-bar-lp ul
    {
        display: flex;
        height: auto;
        background-color: #fff;
        border-radius: 20px;
        padding: 20px 10px;
        border: 3px solid #DE6B66;
    }

    #header .header .nav-bar-lp ul li
    {
        font-size: 1.3rem;
        margin: 0 10px;
    }

    #header .header .nav-bar-lp ul li a
    {
        padding: 20px 10px;
        color: #DE6B66;
        position: relative;
    }
    #header .header .nav-bar-lp ul li a::after
    {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-radius: 100px;
        background-color: #DE6B6640;
        transition: 0.2s ease-in-out;
    }
    #header .header .nav-bar-lp ul li:hover a::after
    {
        width: 50px;
        height: 50px;
    }

    #header .header .nav-bar-lp .header-logo
    {
        width: 90px;
        height: 90px;
    }

    /* End Header Desktop */

    /* Start Hero Desktop */

    #hero .hero
    {
        min-height: 100vh;
    }

    #hero .hero-image 
    {
        width: 1200px;
        height: 700px;
        padding-top: 40px;
    }

    #hero .hero-image img
    {
        border-radius: 30px;
    }

    #hero .hero-columns
    {
        padding: 30px 0 30px 0;
    }

    #hero .column
    {
        flex-basis: 37%;
        margin: 0 40px;
        height: 450px;
        margin-top: -15%;
        border-radius: 30px;
    }

    /* End Hero Desktop */

    /* Start Info Desktop */

    #info .info
    {
        border-radius: 20px;
    }

    #info .chapter-wrapper
    {
        margin: 40px 10px;
        padding: 20px 0;
        width: 80%;
    }

    #info .chapter-info .chapter-image-wrapper
    {
        width: 500px;
        height: 500px;
        margin-bottom: 10px;
    }

    /* End Info Desktop */

    /* Start Recommend Desktop */

    #recommend .border-up
    {
        width: 100%;
    }

    #recommend .recommended-stories .card
    {
        flex-basis: 33%;
        width: 20%;
        margin: 10px 0;
    }

    #recommend .border-down
    {
        width: 100%;
    }

    #recommend .recommend .recommend-cta
    {
        width: 35%;
    }

    /* End Recommend Desktop */

    /* Start Footer Desktop */

    #footer .footer
    {
        min-height: 40vh;
        padding-bottom: 10px;
    }

    #footer .footer-links
    {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

        
    #footer .footer-links p span::after
    {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background-color: #D952CB;
        width: 0;
        transition: 0.2s ease-in-out;
    }
    #footer .footer-links p:hover span::after
    {
        width: 100%;
    }

    #footer .footer-links .footer-social-media
    {
        justify-content: center;
        width: auto;
    }

    #footer .footer-links .footer-social-media .icon-wrapper
    {
        width: 60px;
        height: 60px;
        margin: 0 10px;
    }

    /* End Footer Desktop */
}

/* End Media Query for Desktop */